// Gradient color sets
$white:               #ffffff;
$solid-white:         #ffffff; // Adding as a variable for the sake of string substitution in other partials
$pale-light-salmon:   #fff1d4;
$pale-yellow:         #feecb9;
$pale-yellow-2:       #fff6cd;
$pale-light-orange:   #fade90;
$pale-lt-orange-2:    #fadf94;
$pale-lt-orange-3:    #ffd898;
$light-orange-2:      #ffc96f;
$light-orange-3:      #ffce83;
$light-orange-4:      #ffc96f;
$reg-orange:          #ff783a;
$light-pink:          #ffb898;
$very-light-teal:     #effef6;
$light-pale-green:    #e7fef1;
$pale-light-blue:     #b9ebf7;
$pale-light-blue-2:   #b7ebf8;
$footer-light-blue:   #B5F5F9;
$bright-light-blue:   #73e9ff;
$bright-light-blue-2: #69eaff;
$bright-light-blue-3: #6EEAFE;
// Introduced 2019

$med-teal-blue:       #2898b3;
$standard-teal:       #497F8D;  
$teal-blue:           #1e7286;


$slide-default-background-color: rgba($bright-light-blue,.5);
//$slide-default-background-color: rgba($white, .3);


// Header very-light-teal, pale-light-blue-2, $pale-lt-orange-3