:root {
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    //font-family: sans-serif;
}

// Width values
$x-large-width:         1824px;
$large-width:           1224px;
$standard-width:        1024px;
$med-width:             768px;
$small-width:           667px;
$med-small-width:       545px;
$small-width-iphone:    414px;
$small-width-iphone-x:  375px;
$extra-small:           320px;

$slide-outer-border-padding:  .7rem;